<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeType.name }}</h1>
  </div>
</div>

  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manejar Plato <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditRecipeType()">Editar Tipo de Plato</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipeType()">Eliminar Tipo de Plato</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Descripcion: {{ recipeType.description }}
    </div>
  </div>


