<div class="row">
    <div class="col-xs-12">
      <div type="button" class="btn btn-primary" (click)="onFetchData()">Actualizar</div>
      <div type="button" class="btn btn-warning" style="margin-left: 15px;" (click)="onSaveData()">Guardar datos</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-orders-controller-item
      *ngFor="let orderEl of orders; let i = index"
      [order]="orderEl"
      [index]="i">    
      </app-orders-controller-item>
    </div>
  </div>
