<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <h1 class="list-group-item-heading">Pedido {{ order.orderID }}</h1>
            <h5 class="list-group-item-text">Chef: {{ order.chefName }}</h5>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn btn-success" *ngIf="!order.assigned" (click)="onUpdateOrder()">Seleccionar Pedido</div>
        <div class="btn btn-info" *ngIf="order.assigned" (click)="onUpdateOrder()">Tomar Pedido</div>
    </div>
</div>

  